# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
.next/
dist/

# Env
.env
.env.local

# Docker
*.log
docker-compose.override.yml

# Database
db/data/

# Data files
data/raw/*.zip
data/raw/*.pbf  
data/raw/*.csv
data/raw/*.json
data/processed/
